
@model InfoTrackTest.Models.SearchFormModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Check Your Search Ranking...</h1>
    <table>
        @using (Html.BeginForm("ExecuteSeach", "Home", FormMethod.Post))
        {

            <tr>
                <td>Your website: </td>
                <td>
                    @Html.TextBoxFor(m => m.TargetURL)
                </td>
            </tr>
            <tr>
                <td>Search Terms: </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchTerms)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>

        }
    </table>
        <h1 class="display-4">Your Result...</h1>
        <div>
            @ViewBag.SearchResult
        </div>
    </div>
